body {
    font-family: "Helvetica Neue", "Liberation Sans", Arial, sans-serif;
    font-size: 3.7mm
}

h1 {
    font-size: 8mm
}

h2 {
    font-size: 7.5mm
}

#close a {
    display: inline-block;
    border: 1px solid #036;
    padding: 7px 15px;
    color: firebrick;
    font-weight: bold;
    font-size: 20px;
    background-color: #ffeaea;
    text-decoration: none
}

#close a:hover {
    color: #777;
    background-color: #eee;
}

#header:before, #header:after {
    content: " ";
    display: table
}

#header:after {
    clear: both
}

#header h1 {
    margin-top: 0
}

#header h1 small {
    display: block;
    font-size: 4.5mm
}

#header .address {
    font-size: 4.3mm
}

#customer {
    display: table;
    width: 100%
}

#shipping, #billing {
    display: table-cell;
    width: 50%;
    padding: 1em 2em 1em 0;
}

#shipping p, #billing p {
    margin: 2mm 0
}

#shipping p.name, #billing p.name {
    font-weight: bold;
    font-size: 4.2mm;
}

#shipping p.company, #billing p.company {
    font-size: 4.2mm;
}

#billing {
    padding-right: 0;
}

#order-comment {
    border: 1px solid #333;
    padding: 0.5em 1em;
    margin: 0.5em 0;
}

#order-items {
    margin-top: 2em;
    position: relative
}

#order-items > table {
    width: 100%;
    border-collapse: collapse
}

#order-items > table thead, #order-items > table tbody, #order-items > table tr {
    border: 1px solid #333;
    border-collapse: collapse
}

#order-items > table thead {
    border-bottom: 2px solid black;
}

#order-items > table tbody tr {
    border-bottom: 1px solid #333;
}

#order-items > table th {
    background-color: #ddd;
    padding: 1mm 3mm;
}

#order-items > table td {
    padding: 1mm 3mm;
}

#order-items > table td[colspan="4"] {
    border-color: transparent transparent white white;
}

#order-items > table #totals {
    border: none;
    border-collapse: collapse;
}

#order-items > table #totals tr, #order-items > table #totals td {
    border: none;
    border-collapse: collapse;
}

#order-items > table #total {
    font-size: 5.9mm;
    border-top: 2px solid #333;
}

#order-items > table #total .amount {
    border: 2px solid #333;
    font-weight: bold;
}

#order-items .quantity, #order-items .price, #order-items .amount {
    text-align: right;
    white-space: nowrap;
}

#order-items .name {
    width: 9cm;
}

#company {
    float: left;
    width: 50%;
}

#details {
    float: right
}

#details h2 {
    margin-top: 0;
    text-transform: uppercase;
}

#details th {
    text-align: right;
    padding-right: 1em;
}

#details table {
    font-size: 4.3mm;
}

@media print {
    @page {
        margin: 1cm
    }

    .no-print {
        display: none
    }

    #shipping h3, #billing h3 {
        background-color: transparent;
        padding: 0;
        border-bottom: 2px solid #333
    }
}

@media screen {
    #shipping h3, #billing h3 {
        background-color: #ddd;
        padding: 0.5em;
    }
}
